<!DOCTYPE html>
<html>
<header>
  <title>HTMX TODO</title>
  <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  <!-- <script src="/static/htmx.org@1.9.6"></script> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"/>
  <!-- <link rel="stylesheet" href="/static/pico.min.css"/> -->
  <link rel="stylesheet" href="/style.css"/>
  <link rel="shortcut icon" href="/favicon.ico"/>
</header>

<body>
<main class="container">
  <h1>Super HTM<i>X</i> TODO App</h1>
  <ul id="todos" hx-get="/front/todos" hx-trigger="load" hx-swap="innerHTML">
  </ul>
  <form hx-post="/front/todos"  hx-target="#todos" hx-on::after-request="this.reset()">
    <input name="content" type="text" placeholder="Press enter to add"/>
  </form>
<main>
</body>
</html>
